*{
   transition: 0ms;
   font-size: 1.1rem;
}
.line{
    width: 89%;
    height: .16rem;
    background:linear-gradient(30deg , red,rgb(89, 0, 131),rgb(0, 38, 255),rgb(0, 81, 128),rgb(3, 252, 65), red,rgb(172, 0, 252),rgb(0, 38, 255),rgb(0, 162, 255),rgb(3, 252, 156)) ;
    background-size: 500vw;
    border-radius: 3rem;
    animation: slide 10s linear;
    animation-iteration-count: infinite;
}
h3{
    align-self: flex-start;
    margin-left: 4vw;
    font-weight: normal;
    
}
.h{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.v{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.h-even{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.v-even{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.h-left{
    display: flex;
    align-items: center;

}
.h-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.v-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.navbar{
    transition: .4s ease-in-out;
    height: 70px;
    width: 95vw;
    align-self: center;
    border-radius: .3rem;
    background:linear-gradient(110deg,rgb(255, 0, 43),rgb(255, 0, 43),rgb(255, 0, 43),rgb(252, 38, 73),rgb(250, 72, 102)) ;
}
.stopScroll{
    z-index: 5;
    top: 0;
    width: 100vw;
    height: 70px;
    position: fixed;
    background-color: white;
}
.pagefull{
    height: 140vh;
    width: 90vw;
}
.logo{
    display: flex;
    width: 100%;
    height: 90px;
    padding: .4rem 1rem .4rem 8%;
    
}
.logo>img{
    height: calc(90px - .8rem);
    width: auto;
    margin-right: 1rem;
}
.content-top>p{
    font-size: 1.2rem;
}
.card{
    width: 20%;
    height:calc((7 / 12) * 26vw);
    margin: 1rem .3rem;
    padding: 0;
    border:none;
}
.card>.h-left{
    font-size: 1.3rem;
    font-weight: normal;
}
.card-img{
    width: 100%;
    height:calc((7 / 12) * 21.7vw);
    object-fit: cover;
}
input:checked{
    background-color: turquoise;
}
input[type="radio"]{
    margin: 0;
    padding: 0;
    width: .9em;
    height: .9rem;
    cursor: pointer;
}
@keyframes slide{
    0%{  background-position: left;  }
    50%{  background-position: right;  }
    100%{  background-position: left;  }
}
/* .top-container{
    max-height: 90vh;
    box-shadow: 0 .1rem .6rem -.2rem rgb(82, 77, 79);
    background-image: url(../images/woj.jpg);
    background-size: cover;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    width: calc((20rem / 9) * 20);
    justify-self: center;
    border-radius: .5rem;
}
.description{
    padding: 1rem .5rem;
    border-radius: 0 .5rem .5rem 0;
    justify-self: flex-start;
    width: 40%;
    background-color: white;
} */

@media (orientation:portrait){
    .h-center{
        flex-wrap: wrap;
        display: flex;
    }
    .col-md-9{
        width: 100%;
    }
    .card{
        width:45vw;
        margin: none;
        height: 45vw;
    }
    .card-img{
        height: 40vw;
    }
    h3{
        align-self: center;
        margin: 0;
    }
    .line{
        width: 90vw;
    }
}