*{
   transition: 0ms;
   font-size: 1.1rem;
   outline:none;
   user-select: none;
}
p{
    background-color: white;
}
body,html{
    background-color: white;
}
.container-fluid{
    background-color: white;
}
button{
   outline:none;
    outline-color: rgba(64, 224, 208, 0);
}
label{
    padding: .2rem 0;
}
input[type="checkbox"]{
    width: 1.2rem;
    height: 1.2rem;
}
input[type="checkbox"] + label{
    width: 90%;
    cursor: pointer;
    padding: 0.2rem .8rem;
    
}
.form-control{
    
    font-size: 1rem;
    width: 2rem;
}
.line{
    width: 89%;
    height: .16rem;
    background:linear-gradient(30deg , red,rgb(89, 0, 131),rgb(0, 38, 255),rgb(0, 81, 128),rgb(3, 252, 65), red,rgb(172, 0, 252),rgb(0, 38, 255),rgb(0, 162, 255),rgb(3, 252, 156)) ;
    background-size: 500vw;
    border-radius: 3rem;
    animation: slide 10s linear;
    animation-iteration-count: infinite;
}
img{
    object-fit: cover;
}
h3{
    align-self: flex-start;
    margin-left: 4vw;
    font-weight: normal;
    
}
.h{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.v{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.h-even{
    display: flex;
    align-items: center;width: 100%;
    justify-content: space-around;
}
.v-even{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.h-left{
    display: flex;
    align-items: center;

}
.v-left{
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}
.h-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.v-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.navbar{
    color: white;
    
    transition: .4s ease-in-out;
    height: 70px;
    width: 95vw;
    align-self: center;
    border-radius: .3rem;
    background:linear-gradient(110deg,rgb(255, 0, 43),rgb(255, 0, 43),rgb(255, 0, 43),rgb(250, 97, 123),rgb(255, 126, 180)) ;
}
.stopScroll{
    z-index: 5;
    top: 0;
    width: 100vw;
    height: 70px;
    position: fixed;
    background-color: white;
}
.pagefull{
    height: 140vh;
    width: 90vw;
}
.logo{
    display: flex;
    width: 100%;
    height: 90px;
    padding: .4rem 1rem .4rem 8%;
}
.logo>img{
    height: calc(90px - .8rem);
    width: auto;
    margin-right: 1rem;
}
.content-top>p{
    font-size: 1.2rem;
}
#unseen,#unseen>*{
    display: none;
}
.card{
    width: 20%;
    min-width: 9.7rem;
    margin: 1rem .3rem;
    padding: 0;
    border:none;
    box-shadow: 0 .05rem .5rem -.2rem blue;
}
.card>.h-left{
    font-size: 1.3rem;
    font-weight: normal;
}
.card-img{
    width: 100%;
    height:calc((7 / 12) * 20vw);
    object-fit: cover;
}
.w-80{
    width: 80%;
}
input[type="radio"]{
    margin: 0;
    padding: 0;
    width: .9em;
    height: .9rem;
    cursor: pointer;
}
.h-center>.card-img{
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    margin-right: .5rem;
}
.c{
    max-height: 4.5rem;
    box-shadow: none;
    width: calc(25% - 1rem);
    max-width: 100vw;
    min-width: 11rem;
    margin: .2rem .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(235, 235, 235);
    border-radius: 3rem;
    padding: 0;
    height:fit-content;
    flex-direction: row;
}
.c label{
    height: 100%;
    width: calc(10rem - 4rem);
    justify-content: center;
    padding: 0;
    padding-top: .15rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
}
.sub{
    border: none;
    border-radius: 2rem;
    width:15rem;
    height: 2.6rem;
    font-weight: bolder;
    color: white;
    font-family: monospace;
    margin-bottom: 5rem;
    margin-top: 3rem;
    font-size: 2rem;
    background: linear-gradient(145deg,rgb(38, 0, 255),rgb(0, 26, 255),rgb(0, 68, 255),rgb(0, 132, 150),rgb(1, 252, 210));
    box-shadow: 0 .1rem -5rem -.0rem rgb(255, 0, 98);
}
.popup{
    width: 100vw;
    height:100vh;
    position:fixed;
    background-color: rgba(1, 7, 20, 0.39);
    z-index: -12;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.checkout{
    min-width: 50vw;
    padding: 1rem;
    background-color: white;
    border-radius: .5rem;
    min-height: 50vh;
}
.top-check{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.show{
    display: flex;
    z-index: 24;
}
#qtty{
    width: 4rem;

}
.btncancel{
    
    color: white;
    
    border: none;
    border-radius: 2rem;
    padding: 0 1rem .1rem 1rem;
    height: 2rem;
    box-shadow: 0 0 .8rem -.2rem white;
}
@keyframes slide{
    0%{  background-position: left;  }
    50%{  background-position: right;  }
    100%{  background-position: left;  }
}


@media (orientation:portrait){
    .h-center{
        flex-wrap: wrap;
        display: flex;
    }
    .col-md-9,.col-md-11{
        width: 100%;
        min-width:1rem;
    }
    .c{
        width:85vw;
    }
    .card{
        width:45vw;
        margin: none;
        
    }
    .card-img{
        height: 40vw;
    }
    h3{
        align-self: center;
        margin: 0;
    }
    .line{
        width: 90vw;
    }
    .sub{
        width: 90vw;
    }
    .checkout{
        width: 85vw;

    }
    .checkout .w-75{
        width: 85%;
    }
}